* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}


.landing {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 60px;
}


/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px;  /* adjust smaller/bigger */
  height: auto;
}

.nav-buttons {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn.outline {
  background: white;
  color: #4f46e5;
  border: 2px solid #4f46e5;
}

.btn.filled {
  background: #4f46e5;
  color: white;
}

/* Hero section */
.hero {
  margin-top: 100px;
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  color: #1e40af;
  line-height: 1.2;
}

.hero p {
  margin-top: 20px;
  color: #555;
  font-size: 17px;
}

/* Cards */
.cards {
  margin-top: 120px;
  display: flex;
  gap: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #4f46e5;
  margin-bottom: 10px;
}

.card p {
  color: #444;
  font-size: 14px;
}
