.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.login-card {
  width: 750px;
  height: 420px;
  background: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Left panel */
.login-left {
  width: 45%;
  background: #4f46e5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.login-logo {
  width: 80px;
  margin-bottom: 15px;
}

.login-left h2 {
  margin: 5px 0;
}

.login-left p {
  font-size: 14px;
  opacity: 0.9;
}

/* Right panel */
.login-right {
  width: 55%;
  padding: 40px;
}

.login-right h2 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
      text-align: left;


}

.input-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  text-align: left;
}

.forgot {
  font-size: 12px;
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: right;
}

.login-btn {
  width: 100%;
  background: #6b7280;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.signup-text {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

.signup-text a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.eye-icon:hover {
  opacity: 1;
}

