.register-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.register-card {
  width: 1000px;          
  min-height: 560px;     
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.register-left {
  width: 45%;
  background: #4f46e5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px; 
}


.register-logo {
  width: 80px;
  margin-bottom: 15px;
}
.register-right {
  width: 55%;
  padding: 35px 40px; 
  
}


.register-right h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.register-right form {
  display: flex;
  flex-direction: column;
}

.register-right input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
  outline: none;
}

.register-right button {
  background: #6b7280;
  color: white;
  border: none;
  padding: 11px;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
}


.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.login-text a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

.error {
  font-size: 11px;
  color: red;
  min-height: 14px;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for the eye icon */
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.eye-icon img {
  width: 20px;
  height: 20px;
}

.input-label {
  font-size: 13px;
  font-weight: 500;
  margin: 8px 0 4px;
  display: block;
  color: #333;
      text-align: left;

}

